:root {
  --purple-color: hsl(266, 100%, 64%);
  --btn-color: hsl(0, 100%, 80%);
  --text-color-default: hsl(0, 100%, 74%);
  --border-color: hsl(20, 100%, 71%);
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to top, #f9f4ef 0%, #fff9ec 100%);
  color:hsl(0, 100%, 74%);

}

.fa-times-circle {
  color: var(--purple-color);
}

#craftant {
  color: white;
  margin-left: 2rem;
}

#craftant:hover {
  color: var(--purple-color);
}

.badge {
  margin-left: 0.2rem;
}

h1 {
  color: var(--text-color-default);
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

select {
  background-color: white;
  padding: 0.3rem;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--border-color);
}

.dot {
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color:var(--text-color-default);
}

ul li {
  list-style-type: none;
}

a:hover {
  color:var(--purple-color);
  font-weight: bold;
}

.site-container {
  min-height: 100vh;
}

.list-group {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
main {
  flex: 1;
}
.btn-primary {
  background-color: var(--btn-color);
  color: white;
  border: 1px solid var(--border-color);
}
.btn-primary:hover {
  background-color: var(--purple-color);
  border: 2px solid var(--purple-color);
}

Form {
  border-radius: 20px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 1.5rem;
  background-color: white;
}


#search-box-form {
  background-color: var(--text-color-default);
  box-shadow: none;
}

#q {
  border-color:var(--text-color-default);
  color:var(--text-color-default);
}

.search-box {
  border-color:var(--text-color-default);
  background-color: white;
}

.search-box:hover {
  border-color:var(--text-color-default);
  background-color:var(--purple-color);
  color:white;
}

.fa-search {
  color:hsl(0, 100%, 74%);
}

.fa-search:hover {
  color: white;
}

.register-btn {
  margin-top: 4%;
  font-size: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  min-height: 100%;
  border: 1px solid var(--border-color);
}

#card-2 {
  min-height: 20%;
  max-height: 100%;
}

#dropdown {
  color: white;
}

.dropdown-item {
  color: var(--btn-color);
}
.dropdown-item:hover {
  color: var(--purple-color);
}

.card:hover {
  box-shadow: 0 2px 6px 0 rgba(222, 222, 222, 0.2), 0 6px 20px 0 rgba(109, 109, 109, 0.19);
}

.card-title {
  text-decoration: none;
  color: var(--text-color-default);
  font-weight: normal;
}
.card-title:hover {
  color: var(--purple-color);
  font-weight: bold;
}

.input-group {
  border-color:hsl(266, 100%, 64%);
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.badge-row {
  margin-bottom: 5%;
}

#check-review {
  background-color: skyblue;

}

.rating span {
  color: #ffc000;
}

.star {
  color: #ffc000;
}

.five-star {
  color: orange;

}

.crown {
  color: gold;
}

.hold-heart {
  color: lightred;
}

.card-img-top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card-icon-btm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.card-icon-btm:hover {
  color: red;
}

.product {
  border: 0.6px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}

.product-card {
  height: 550px;
}

.seller-logo {
  display: block;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 50%;
}

#product-shop-link {
  display: block;
  margin-left: 60%;
}

.handmade-icon {
  color: pink;
}

.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid var(--purple-color);
  color: var(--purple-color);
}

@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

.navbar-brand {
  font-weight: bold;
  font-family: 'Della Respira', serif;
  text-decoration: none;
  color: black;
}

.della-font-headers {
  font-family: 'Inter', serif;
  font-weight: bold;
  color: hsl(0, 100%, 74%);
  margin: 1rem 0rem 2rem 0rem;
}

.order-history-box {
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
}

#user-role-color {
  color: orange;
}

.navbar {
  border-bottom: 1px solid #a0a0a0;
  background-color: var(--text-color-default);
  color: white;
}

#navbarBtn {
  background-color: var(--text-color-default);
  color: white;
}
.fa-bars {
  color:white;
  background-color: var(--text-color-default);
}

a.active.navbar-brand{
  margin-left:1rem;
}

a.active.navbar-brand:hover {
  color:var(--purple-color);
  font-weight: bold;;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #fff3ec;
  transition: 0.5s;
  border: 1px solid var(--border-color);
}

.nav-item {
  color: var(--text-color-default);
  font-weight: bold;
  font-family: 'Inter';
}

#navlink {
  color: white;
}

.nav-link {
  color:hsl(266, 100%, 64%);
  font-weight: normal;
}

.nav-link:hover {
  color:var(--text-color-default);
}
.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

#navItem {
  color: var(--text-color-default);
}

/* buyer seller toggle Button */


@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.wrapper{
  display: inline-flex;
  background: #fff;
  height: 70px;
  width: 280px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
}
.wrapper .option{
  background: #fff;
  height: 150%;
  width: 150%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 1.5rem;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper .option .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper .option .dot::before{
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: var(--purple-color);
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
.wrapper input{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: darkgrey;
  background: pink;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
  opacity: 1;
  transform: scale(1);
}
.wrapper .option span{
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
  color: #fff;
}
